* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    background: #0e1219;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li::marker {
    color: rgb(255, 102, 102); 
  }
  
  .container3 a {
    color: white; 
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .container3 a:hover {
    color: rgb(255, 102, 102); 
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  h3 {
    font-weight: 700;
  }
  
  .container3 {
    position: sticky;
    top: 94px;
  }
  
  .img-fluid {
    height: auto;
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .col-lg-8, .col-lg-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  button {
    border: 2px solid rgb(255, 102, 102); 
    color: black; 
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: rgb(255, 102, 102);
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
  }
  
  button:hover {
    background-color: transparent; 
    color: rgb(255, 102, 102);
    border-color: rgb(255, 102, 102); 
  }
  