.hh5 {
    color: #f76266;
}
.part1, .part2, .part4, .part5, .part6{
    padding-right: 28px;
}
.part4{
    padding-left: 45px;
}
@media (max-width: 992px) {
    .containerr {
      flex-direction: column-reverse;
}
    
.part1, .part2, .part3, .part4, .part5, .part6 {
      width: 100%; 
      padding: 20px 0;
}
    
.part1 img, .part2 img, .part3 img, .part4 img, .part5 img, .part6 img {
      width: 100%;
      height: auto;
}
}
@media (max-width: 992px) {
    .prtt {
      flex-direction: column; 
    }
  
    .part3, .part4 {
      width: 100%; 
    }
  
    .part3 img {
      width: 100%; 
      height: auto;
    }
  }
  