* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  overflow-x: hidden;
}

.cards {
  background-color: #0e1219; 
}

.cards h6 {
  color: rgb(167, 79, 79); 
}

.cards h2,.cards p {
  color: white; 
}

.cards h1 {
  color: white; 
  transition: color 0.3s ease; 
  font-size:xx-large;
}

.cards h1:hover {
  color: rgb(255, 102, 102);
}

.cards a {
  color: rgb(255, 102, 102); 
  text-decoration: none; 
  position: relative; 
  transition: color 0.3s ease-in-out; 
}

.cards a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px; 
  height: 2px; 
  background-color: rgb(223, 106, 106);
  transform: scaleX(0); 
  transition: transform 0.3s ease-in-out; 
}

.cards a:hover::after {
  transform: scaleX(1); 
}

.cards a:hover {
  color: rgb(255, 102, 102); 
}

.cards .card1 {
  border-color: rgb(101, 92, 92); 
  border: 1px solid rgb(61, 52, 52); 
  transition: border-color 0.3s ease;
  min-height: 450px;
}
.card1 img{
  color: rgb(232, 129, 129)
}
.card1 img:hover{
  filter: none;
  transform: translatey(0px);
  transition:1s;


}
.cards .card1:hover {
  border-color: rgb(186, 53, 53); 
}
.cards .card1 {
  border-color: rgb(86, 60, 60);
  border: 1px solid rgb(91, 99, 125);
  transition: border-color 0.3s ease;
  min-height: 450px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.cards .card1:hover {
  border-color: rgb(188, 79, 79);
}

