.footer {
  background-color: rgb(14, 18, 25);
  color: white;
  padding: 60px 0px;

  h5 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    position: relative;
   
    &::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: red;
        position: absolute;
        margin-top: 20px;
        margin-left: 6px;
    }
  }
  li {
    
    :hover {
      color: rgb(255, 102, 102);
      transition: 0.6s;
    }
  }
  @media (min-width: 992px) and (max-width: 1024px) {
    .container {
        flex-direction: row;
        gap: 0px;
    }
}
}

