* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    
}
#root {
    max-width: 100%;
    min-height: 100vh;
    /* overflow-x: hidden; */
}
body{
    max-width: 100%;
    overflow-x: hidden;
    background: #0e1219;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
   
}
ul li a {
    text-decoration: none;
    color: white;
   
}
p , li{
    font-weight: 400;
    line-height: 22.4px;
    margin-top: 20px;
    font-size: 16px;
}
@media (max-width: 300px) {
    .container,h1,h2,p,li {
      padding: 10px;
      font-size: 12px;
    }
  }