.service-card,
.team-card,
.extra-service-card {
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(144, 89, 89);
  padding: 20px;
  transition: transform 0.3s ease;
}

.service-card:hover,
.team-card:hover,
.extra-service-card:hover,
.scroll-item:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card-title1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  color: #656161;
  margin-bottom: 5px;
}
.card-text1 {
  color: #b0a6a6;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .card-title {
    font-size: 22px;
    font-weight: 700;
  }

  .card-text {
    font-size: 12px;
    font-weight: 600;
  }

  .card-title1{
    font-size: 20px;
    font-weight: 700;
  }


}

@media (max-width: 570px) {
  .card-title2{
    font-size: 12px;
    /* font-weight: 600; */
  }

  .card-text1 {
    font-size: 12px;
    font-weight: 600;
  }
}