.container {
    // padding: 100px 0px;
    @media (min-width:992px) and (max-width:1024px) {
        flex-direction: column;
        gap: 30px;
        .part1,.part2 {
            width: 100%;
            padding-left: 20px;
        }
        button {
            margin: auto;
        }
        
    }
   .link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: rgb(255, 102, 102);
    }
}


input  {
    border: 1px solid rgb(91, 99, 113);
    background-color: transparent;
    padding: 17px;
    // outline: 0;
    color: white;
}
textarea {
    border: 1px solid rgb(91, 99, 113);
    background-color: transparent;
    padding:  17px;
    outline: 0;
    color: white;
    resize: none ;
}
.butt {
    border: 1px solid rgb(255, 102, 102); 
    background-color: rgb(255, 102, 102);
    font-weight: 600;
    padding: 18px 10px;
    
}

h2:hover {
    color: white;
}

.butt:hover {
    background-color: transparent;
    color: rgb(255, 102, 102);
    transition: .8s;
}